<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691533652276-tvu2iu0qevrg01vho3hsmo63ictov3nb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691533652276-tvu2iu0qevrg01vho3hsmo63ictov3nb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>691533652276-fnotidm7dujc1s9knlfbblkugga3u3l6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Rbh7cNpcEzToAOf2WqYl2v19QEOqkqI</string>
	<key>GCM_SENDER_ID</key>
	<string>691533652276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ringoid.dating-st</string>
	<key>PROJECT_ID</key>
	<string>ringoid-stage</string>
	<key>STORAGE_BUCKET</key>
	<string>ringoid-stage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691533652276:ios:a47d6aadb7fe614e</string>
	<key>DATABASE_URL</key>
	<string>https://ringoid-stage.firebaseio.com</string>
</dict>
</plist>